.flex {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 17);
    height: 300px;

    justify-content: space-around;
    /*flex-wrap: wrap;*/
    align-items: flex-start;

}

.contenido-1 {
    background-color: beige;
    
    width: 100px;
    border: 1px solid navy;
}

.contenido-2 {
    background-color: beige;
    ;
    width: 100px;
    border: 1px solid navy;
}

.contenido-3 {
    background-color: beige;
    

    width: 100px;
    border: 1px solid navy;
}